@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@1,300&display=swap');
div.contact{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: justify;
  gap: 3rem;
  margin-bottom: 20%;
  margin-left: 45%;
}
  p.contact{
    font-size: 40px;
    color: white;
  }

  .socials{
    border-radius: 5px;
    border: 2px solid black;
    transition: transform 0.2s ease-in;
  }
  .socials:hover{
transform: scale(1.3);
margin: 2%;
box-shadow: 4px 4px 0px rgb(227, 117, 6);
    top: -5px;
    left: -5px;

  }
   
  span{
    font-family: 'Source Serif Pro', serif;
    font-size: 20px;
    text-decoration: none;
    color: white;
  }