* {
    margin: 0;
    padding: 0;
}
h1.menu{
    margin-left: 47%;
    margin-bottom: 5%;
    text-align: center;
    color: white;
    font-size: 40px;
}
/* image */
img {
    width: 25rem;
    border: 4px solid white;
    border-radius: 3%;
    margin-bottom: 10%;
}

#img1 {
    margin-left: 20%;
    transition: transform 0.2s;
}

#img2 {
    margin-left: 5%;
    transition: transform 0.2s;
}

#img1:hover {
    border: 3px solid rgb(147, 94, 104);
    transform: scale(1.3);
    box-shadow: 10px 10px 0px black;
    top: -5px;
    left: -5px;
}

#img2:hover {
    border: 3px solid rgb(147, 94, 103);
    transform: scale(1.3);
    box-shadow: 10px 10px 0px black;
    top: -5px;
    left: -5px;
}